.main-container{
    margin-left: 270px;
    width:auto;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #FFFFFF;
}

.back-btn{
    margin-left: 30px;
}

.back{
    position: relative;
    top: 19px;
    font-size: 23px;
    color: #C4C4C4;
}

.back:hover{
    cursor: pointer;
}

.right-icons{
    display: flex;
    flex-direction: row;
}

input[type="search"]{
    width: 212px;
    height: 37px;
    border-radius: 8px;
    margin-right: 27px;
    margin-top: 12px;
    border-color: #E5E5E5;
    background-color: #FFFFFF;
    padding-left: 10px;
}

.search-icon-1{
    position: relative;
    left:205px;
    top: -2px;
    color:#C4C4C4;
}

.search-icon-1:hover{
    cursor:text;
}

.bell-icon{
    margin-right: 51px;
}

.bell{
    position: relative;
    top:17px;
    font-size: 20px;
    color:#C4C4C4;
}

.bell:hover{
    cursor: pointer;
}